.StartPageBody-div{
  background-color: white;
  border: 2px solid black;
  width: 100%;
  height: 100%;
}
.StartPageBody-self{
  background-color:#A34243;
  width : 20%;
}
.image{
  width: 100px;
  height: 100px;
}